/*
user: #{sessionUserMB.usuarioAuthenticated.nombreCompleto}
*/
/* 
    Created on : 19/08/2014, 05:07:46 PM
    Author     : alfredo
*/

.ui-widget, .ui-widget .ui-widget {
    font-size: 80%;
}

.no-rounded-panel{
	border-radius: 0px; 
	border: none;
}


.preferencesPanel{
    
}

body{
	background-color:  #DCEBF2;
}

.footer-bar {
	background: none repeat scroll 0 0 darkblue;
    border-top: 3px solid orange;
	color: yellow;
    font: 50% 'Droid Sans',arial,sans-serif;
	width: 100%;
	left: 0px;
    height: 30px;
    margin: 0;
    padding: 5px 0 0;
    text-align: center;
	bottom: 0px;
	position: fixed;
	display: block;
}